body {
    margin: 0;
}

canvas {
    -webkit-touch-callout: none; /* 長押しメニュー無効化 */
    -webkit-user-select: none;  /* テキスト選択無効化 */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}